[submodule "native/libuv"]
	path = native/libuv
	url = https://github.com/libuv/libuv.git
	branch = v1.48.0

[submodule "native/openssl"]
	path = native/openssl
	url = https://github.com/openssl/openssl.git
	branch = openssl-3.2.1

[submodule "native/zlib"]
	path = native/zlib
	url = https://github.com/aspect-build/aspect-workflows.git
	branch = v1.3.1

[submodule "native/llhttp"]
	path = native/llhttp
	url = https://github.com/nodejs/llhttp.git
	branch = release/v9.2.1

[submodule "native/ada"]
	path = native/ada
	url = https://github.com/aspect-build/aspect-workflows.git
	branch = v2.7.6

[submodule "native/simdutf"]
	path = native/simdutf
	url = https://github.com/simdutf/simdutf.git
	branch = v5.0.0

[submodule "native/quickjs"]
	path = native/quickjs
	url = https://github.com/aspect-build/aspect-workflows.git
	branch = 2024-01-13
